<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% block head %}{% endblock %}
</head>
<body>
    <div class="container">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">Slim Project</a>
			</div>
			<ul class="nav navbar-nav">
				<li {% if route =='dashboard'  %} class="active" {% endif %}><a href="{{ path_for('dashboard') }}">Dashboard</a></li>
			  	<li {% if route =='image_upload'  %} class="active" {% endif %}><a href="{{ path_for('image_upload') }}">Image Upload</a></li>
			  	<li {% if route =='images'  %} class="active" {% endif %}><a href="{{ path_for('images') }}">Images</a></li>
			</ul>
		  </div>
		</nav>
		{% block content %}{% endblock %}
    </div><!-- /.container -->

    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}

</body>
</html>
